* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
.carousel {
  &-container {
    position: relative;
    width: 60%;
    margin: auto;
    overflow: hidden;
    border: 5px solid #811112;
    border-radius: 2px;
  }
  &-item {
    display: flex;
    width: 100%;
    height: 510px;
  }
}
.prev, .next {
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  transition: 0.6s ease;
  color: white;
  border-radius: 0 3px 3px 0;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  &:hover {
    background-color: rgba(0,0,0,0.8);    
  }
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.dots-container{
  padding: 25px 0px 15px 0px;
  background-color: #811112;
}
  
.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 2px;
  border-radius: 50%;
  transition: background-color 0.6s ease;
  background-color: #fff;
  cursor: pointer;
  &:hover {
    background-color: #ac3834;
  }
}
.active {
  @extend .dot:hover;
}  